tqdm>=4.66.4
joblib>=1.2.0
requests>=2.32.3
colorlog>=6.8.2
numba>=0.58.0
numpy>=1.23.0
pandas>=2.0.0
nibabel>=4.0.0
nilearn>=0.10.0
neuromaps @ git+https://github.com/netneurolab/neuromaps@a89b6990d6a5d76c42d833e03c8cf99fc6c352fd
scipy>=1.6.0
statsmodels>=0.14.0
scikit-learn>=1.5.0
matplotlib>=3.6.0
seaborn>=0.13.0